<section id="popular_post_bundle" aria-label="Popular Post">
    <section class="row">
        <p class="container title">Popular Posts</p>
        {{ content.field_cavalla_blog_popular_post }}
    </section>
</section>