<section id="recent_post_bundle" aria-label="Recent Post">
    <section class="row">
        <p class="container title">Recent Post</p>
        {{ content.field_cavalla_blog_recent_post }}
    </section>
</section>