<section id="reccomended_post_bundle" aria-label="Recommended Post">
    <section class="row">
        <p class="container title">Recommended Post</p>
        {{ content.field_cavalla_blog_rec_post }}
    </section>
</section>
