<div class="testimonial_bundle card">
    <div class="testimonial">
        {% if true in content.field_testimonial_field_image[0] %}
            <div class="avatar">
                <div class="pic" style="background-image: url('{{ content.field_testimonial_field_image }}')">&nbsp;</div>
            </div>
        {% endif %}
        <div class="text-center">
            <p class="quote lead text-center">{{ content.field_testimonial_field_quote }}</p>
            <strong class="cite">{{ content.field_testimonial_field_name }}</strong></br>
            <small>{{ content.field_testimonial_field_job }}</small>
        </div>
    </div>
</div>