
<div class="container my-5 blog-feeds">
  <h2>{{ content.field_cavalla_blog_feed_taxonomy }}</h2>
  <section class="row">
    <section class="col-md-8">
      {{ most_recent_blog_feed }}
    </section>
    <section class="col-md-4">
      {{ blog_feeds }}
    </section>
  </section>
</div>