<section class="{{ attributes.class }}" >
    <section class="container">
        <section class="card-deck my-4">
        {{ content.field_cc_product_feed }}
        </section>
    </section>
</section>